<div class="container">
    <button class="bt btn-primary" (click)="createEdit()">Nuevo</button>
    <br>
    <h2>Lista de Recepciones</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Remitente</th>
                <th scope="col">Telefono</th>
                <th scope="col">Contenido</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaRecepciones;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.remitente}}</td>
                <td>{{item.telefonoDestinatario}}</td>
                <td>{{item.contenido}}</td>
                <td>{{item.total}}</td>
                <td>{{item.fecha}}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-warning" (click)="createEdit(item.idRecepcion)">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>